# W&B Sweep Configuration for Ionosphere Forecasting
program: run_ioncast.py
project: Ionosphere
method: bayes  # bayes, grid, random
metric: 
  goal: minimize
  name: valid/loss #valid/jpld_rmse

# Command template (data_dir and target_dir need to be set when launching)
command:
  - ${env}
  - python
  - ${program}
  - "--data_dir"
  - "/home/jupyter/data"  # Change this to your actual data directory
  - "--target_dir" 
  - "/home/jupyter/halil_debug/sweep_results/${name}/${wandb_run_id}"
  - "--mode"
  - "train"
  - "--no_model_checkpoint"  #NOT TO SAVE SPACE !
  - "--no_eval" 
  - "--sunlock_features"
  - ${args}

parameters:
  # ----------------------------------------------------
  # Parameters to sweep over
  # Training Parameters
  learning_rate:
    # values: [3e-4]
    distribution: log_uniform
    min: -6 # 0.000001
    max: -2 # 0.01
  
  # Model-specific parameters
  context_window:
    distribution: int_uniform
    min: 1
    max: 72
  
  prediction_window:
    values: [1, 2]

  mesh_level:
    values: [5, 6]

  wandb_residual_target_bool:
   values: ['True', 'False']

  delta_minutes:
    values: [15, 30, 60, 180, 360]

  # ----------------------------------------------------
  # Fixed parameters (not swept) 

  device:
    values: ["cuda"] # if we dont specify cuda:0 or cuda:1 here, it will automatically use the available gpu, and we can set which gpu is available when launching the sweep using the CUDA_VISIBLE_DEVICES env variable

  model_type:
    values: ["IonCastGNN"]

  date_start:
    values: 
      - "2010-05-13T00:00:00"
  
  date_end:
    values:
      - "2024-08-01T00:00:00"

  valid_event_id:
    values: ["validation_events_1"]
    # values: ["validation_events_3"]
    # values: 
    # - ["G0H3-201804202100", "G1H12-201704220000", "G2H12-202302261800", "G3H12-201306010000", "G4H12-202304231500"]
  
  weight_decay:
   values: [0.0] # 1e-6, 1e-5, 1e-4, 1e-3, 1e-2] 
  
  valid_event_seen_id:
    values: ["G0H3-201610140300"]

  date_dilation:
    values: [2048]

  jpld_weight:
    values: [2.0]

  epochs:
    value: 10  # Reduce for faster sweeps but allow some learning

  batch_size:
   values: [1]
  
  num_workers:
    values: [12]

  wandb_mode:
    value: "online"
  
  # Fixed validation settings
  valid_every_nth_epoch:
    value: 1

  lead_times:
    values: [120]

  

  # ----------------------------------------------------

# Sweep settings
name: "ioncast-gnn-hyperparameter-sweep"
description: "Optimize hyperparameters for ionosphere forecasting model IonCastGNN"

# Early termination to save compute
early_terminate:
  type: hyperband
  s: 2
  eta: 3
  max_iter: 10