# W&B Sweep Configuration for Ionosphere Forecasting
program: run_ioncast.py
project: Ionosphere
method: bayes  # bayes, grid, random
metric: 
  goal: minimize
  name: valid/loss #valid/jpld_rmse

# Command template (data_dir and target_dir need to be set when launching)
command:
  - ${env}
  - python
  - ${program}
  - "--data_dir"
  - "/home/jupyter/data"  # Change this to your actual data directory
  - "--target_dir" 
  - "/home/jupyter/halil_debug/sweep_results/${name}/${wandb_run_id}"
  - "--mode"
  - "train"
  - "--no_model_checkpoint"  #NOT TO SAVE SPACE !
  - "--no_eval" 
  - ${args}

parameters:
  # ----------------------------------------------------
  # Parameters to sweep over
  # Training Parameters
  learning_rate:
    # values: [3e-4]
    values: [0.00001, 0.00003, 0.0001, 0.0003, 0.001, 0.003, 0.01]
  
  # Model-specific parameters
  context_window:
    distribution: int_uniform
    min: 1
    max: 96
  
  prediction_window:
    values: [1, 2]

  mesh_level:
    values: [4, 5, 6]

  weight_decay:
   values: [0.0, 1e-6, 1e-5, 1e-4, 1e-3, 1e-2] 

  jpld_weight:
   distribution: uniform
   min: 1.0
   max: 20.0

  wandb_residual_target_bool:
   values: ['True', 'False']

  delta_minutes:
    values: [15, 30, 60, 180, 360, 1440]

  # ----------------------------------------------------
  # Fixed parameters (not swept) 
  model_type:
    values: ["IonCastGNN"]

  date_start:
    values: 
      - "2010-05-13T00:00:00"
  
  date_end:
    values:
      - "2024-08-01T00:00:00"

  valid_event_id:
    values: ["validation_events_1"]
    # values: 
    # - ["G0H3-201804202100", "G1H12-201704220000", "G2H12-202302261800", "G3H12-201306010000", "G4H12-202304231500"]
  
  valid_event_seen_id:
    values: ["G0H3-201610140300"]

  date_dilation:
    values: [2048]

  device: # maybe we shouldnt be setting device here? cause this way we need to create a new agent each time we sweep on a diff gpu so we cant have them communicate -> may need to talk to frank when hes available abt this
    values: ["cuda:1"] # can also be "cuda:1" 

  epochs:
    value: 10  # Reduce for faster sweeps but allow some learning

  batch_size:
   values: [1]
  
  num_workers:
    values: [12]

  wandb_mode:
    value: "online"
  
  # Fixed validation settings
  valid_every_nth_epoch:
    value: 1

  lead_times:
    values: [120]

  

  # ----------------------------------------------------

# Sweep settings
name: "ioncast-gnn-hyperparameter-sweep"
description: "Optimize hyperparameters for ionosphere forecasting model IonCastGNN"

# Early termination to save compute
early_terminate:
  type: hyperband
  s: 2
  eta: 3
  max_iter: 10